
/***NAVBAR***/

.navbar-header,
#bs-example-navbar-collapse-1{
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar.navbar-default{
    margin-bottom: 0;
}
.burger-menu-box{
    display: inline-block;
}

.navbar.navbar-default{
    background-color: #2c3e50;
    border: none;
    border-radius: none;
    font-weight: 1000;
}

.navbar-toggle.collapsed{
    background-color: #1abc9c;
    border: none;
}

.navbar-header>.navbar-toggle>.burger-menu-box>span.icon-bar{
    background-color: white;
    width: 15px;
    margin-top: 2px;
}

a.navbar-brand.text-uppercase,
.navbar-default .navbar-collapse>.navbar-nav>li>a,
span.text-uppercase  {
    color: white;
}

@media (min-width: 768px){
 .navbar.navbar-default{
    border-radius: 0;
 }

 .navbar-header,
 #bs-example-navbar-collapse-1{
     padding-top: 25px;
     padding-bottom: 15px;
 }
}

/***JUMBOTRON***/

body>.jumbotron{
    background-color: #1abc9c;
}

.jumbotron .row{
    /* margin: 0 auto; */
    text-align: center;
}
.jumbotron .row>img{
    height: 300px;
}

.row>h1.text-uppercase{
    color: white;
    font-weight: 600;
    font-size: 50px;
    padding: 15px 0;
}

.row.decoration{
    padding: 0 100px;
}

.row.decoration>div{
    display: inline-block;
}

.left,
.right{
    width: calc(100% / 4);
    height: 4px;
    background-color: white;
    margin-bottom: 8px;
}

.center>i{
    color: white;
    font-size: 30px;
    margin: 0 10px;
}

.row>h3{
    color: white;
    padding-top: 10px;
    padding-bottom: 50px;
}
